<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>
<img class="popcorn" src="/imagenes/Palomitas.png">

<div class="container centering">
      <% @players.each do |player| %>
        
        <strong><%= player.name %></strong>
        POINTS: <%= player.points %>
        MAX. POINTS: <%= player.max_points %>
        
        <strong><%= link_to 'Show', player %> |
        <%= link_to 'Edit', edit_player_path(player) %> |
        <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></strong> 
        <br>          
      <% end %>
    </div>
</div>

<div class="top">
  <button class="btn btn-info btn-center"><%= link_to 'New Player', new_player_path %></button>
</div>