<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player.points %>
</p>

<div class="col-lg-12">

    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <%= image_tag @movies[0].poster %>
    </div>
    <div class="col-lg-4"></div>
</div>
<div class="col-lg-12">
    <div class="col-lg-4">
        <%= image_tag @movies[1].poster %>
    </div>
    <div class="col-lg-4">
        <img class="lion" src="http://st-listas.20minutos.es/images/2011-10/305900/list_640px.jpg?1424191278">
    </div>
    <div class="col-lg-4">
        <%= image_tag @movies[2].poster %>
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <%= image_tag @movies[3].poster %>
    </div>
    <div class="col-lg-3">
        <%= image_tag @movies[4].poster %>
    </div>
    <div class="col-lg-3"></div>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
